<nav class="navbar is-fixed-top is-dark is-outlined" role="navigation" aria-label="main navigation">
  <a class="navbar-item has-text-white-ter" href="/api/">
    Home
  </a>
  <a class="navbar-item has-text-white-ter" href="/api/topics">
    Topics
  </a>
  <a class="navbar-item has-text-white-ter" href="/api/articles">
    Articles
  </a>
</nav>