<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
</head>

<body class="has-navbar-fixed-top">
  <% include ../partials/navbar %>
    <h1>WELCOME TO NORTHCODERS NEWS</h1>

</body>

</html>